/*Colours*/
$boxshadow: 2px 2px 12px #49494963;
$errorRed: #be0000;
$whiteText: #fff;


$grayElementHighOpacity: rgba(255, 255, 255, 0.9);
$grayElementLowOpacity: rgba(255, 255, 255, 0.8);
$GrayElementVeryLowOpacity: rgba(255, 255, 255, 0.3);

/*Percentage*/
$fullScreenWidth: 100%;
$smallScreenWidth: 80%;
$wideScreenWidth: 60%;
$smallWidth: 20%;
$tinySize: 10%;

/*Pixels*/
$tinyMarginpx: 15px;
$smallMarginSmallTekst: 20px;
$thirtyPx: 30px;
$smallMediumSize: 40px;
$mediumSize: 50px;
$largeSize: 75px;
$extraLargesizePx: 400px;

/*Game sizes*/
$gameSquareTiny: 350px;
$gameSquare: 500px;
$largeGameSquare: 700px;






